body {
    font-family: 'Montserrat', sans-serif;
}

body {
    header {
        nav {
            ul {
                list-style-type: none;
                a {
                    text-decoration:none;
                }
            }
        }
    }
}